#masterVolumeValue,
#masterPanValue {
  white-space: nowrap;
  font-size: var(--range-value-size);
}

#masterVolumeValue {
  margin-left: 10px;
}

body.dark-theme .master-controls {
  color: var(--color-text);
  background-color: var(--color-surface);
}

.control-group.sticky.master-controls {
  background: #afdcff85;
}

.control-group.master-controls input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
      var(--color-master) var(--range-progress, 0%),
      #ddd var(--range-progress, 0%));
}
.control-group.master-controls input[type="range"]::-webkit-slider-thumb {
  background: var(--color-master);
}

.control-group.master-controls input[type="range"]::-moz-range-thumb {
  background: var(--color-master);
}

.control-group.master-controls input[type="range"]::-ms-thumb {
  background: var(--color-master);
}

.control-group.master-controls .icon-button,
.control-group.master-controls button {
  background: var(--color-master);
}

.control-group.master-controls button:disabled {
  background-color: var(--color-master-disabled);
}

.control-group.master-controls button:hover:not(:disabled) {
  background: var(--color-master-hover);
}

.control-group.master-controls button:focus {
  outline-color: var(--color-master);
}

body.dark-theme .control-group.master-controls {
  background: #4caf4f3f;
}