# Logs and debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data and dependencies
node_modules/
dist/
dist-ssr/
*.local
*.env
*.env.*.local
.env.ci
.env.production

# Ignore all .ignore files and the .ignore folder
.ignore/
*.ignore

# Editor and IDE settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS and system files
.DS_Store
Thumbs.db

# Tooling and codegen artifacts
.codegpt/
excluded/
