<div class="control-group sound-control" data-sound-id="${this.id}">
  <header class="sound-control-header ${hasSpriteHeader}">
    <div class="header-content">
      <div class="sound-title">
        ${isSprite}
        <h4>Sound: ${this.id}</h4>
      </div>
    </div>
    <button class="icon-button close-btn" title="Close panel">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path fillRule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clipRule="evenodd" />
      </svg>
    </button>
  </header>

  <div class="control-content">
    <div class="control-group">
      <h4>Play Conrol</h4>
      <div class="control-content">
        <div class="button-group">
          <button class="icon-button play-btn" title="Play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14">
              <path fill-rule="evenodd"
                d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <button class="icon-button pause-btn" title="Pause">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14">
              <path fill-rule="evenodd"
                d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <button class="icon-button stop-btn" title="Stop">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14">
              <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <button class="icon-button mute-btn" title="Mute">
            <svg class="mute-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14"
              height="14">
              <path
                d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06Z" />
              <path
                d="M17.78 9.22a.75.75 0 1 0-1.06 1.06L18.44 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06l1.72-1.72 1.72 1.72a.75.75 0 1 0 1.06-1.06L20.56 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-1.72 1.72-1.72-1.72Z" />
            </svg>
            <svg class="unmute-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              width="14" height="14" style="display: none">
              <path
                d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06ZM18.584 5.106a.75.75 0 0 1 1.06 0c3.808 3.807 3.808 9.98 0 13.788a.75.75 0 0 1-1.06-1.06 8.25 8.25 0 0 0 0-11.668.75.75 0 0 1 0-1.06Z" />
              <path
                d="M15.932 7.757a.75.75 0 0 1 1.061 0 6 6 0 0 1 0 8.486.75.75 0 0 1-1.06-1.061 4.5 4.5 0 0 0 0-6.364.75.75 0 0 1 0-1.06Z" />
            </svg>
          </button>
          <button class="icon-button fade-in-btn" title="Fade In">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75ZM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 0 1-1.875-1.875V8.625ZM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 0 1 3 19.875v-6.75Z" />
            </svg>
          </button>
          <button class="icon-button fade-out-btn" title="Fade Out">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              style="transform: scaleX(-1)">
              <path
                d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75ZM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 0 1-1.875-1.875V8.625ZM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 0 1 3 19.875v-6.75Z" />
            </svg>
          </button>

          <button class="icon-button reset-sound-btn" title="Reset sound settings">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd"
                d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
                clip-rule="evenodd" />
            </svg>
          </button>

          <div class="playback-rate-container">
            <label for="playback-rate">Playback Rate:</label>
            <input type="number" class="playback-rate-input" min="0" max="9999" step="0.01" value="1"
              title="Adjust playback speed (0 to x)" />
          </div>

        </div>
      </div>
    </div>

    <div class="control-group">
      <h4>Loop Settings</h4>
      <div class="control-content">
        <div class="loop-controls">
          <label class="checkbox-container">
            <input type="checkbox" class="loop-checkbox" title="Enable/disable loop">
            <span class="checkbox-label">Loop</span>
          </label>

          <div class="loop-settings" style="display: none;">
            <div class="loop-count-container">
              <label for="maxLoops">Max Loops:</label>
              <select class="max-loops-select">
                <option value="-1">Infinite</option>
                <option value="custom">Custom</option>
              </select>
              <input type="number" class="max-loops-input" min="1" value="1" style="display: none;"
                title="Number of times to loop">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <h4>Volume</h4>
      <div class="control-content">
        <div class="slider-container">
          <input type="range" class="volume-slider" min="0" max="1" value="1" step="0.01" title="Volume control" />
          <span class="volume-value">100%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="control-content">
    <div class="control-group">
      <h4>Panning</h4>
      <div class="control-content">
        <div class="slider-container">
          <input type="range" class="pan-slider" min="-1" max="1" value="0" step="0.01"
            title="-1 for left, 0 for center, 1 for right" />
          <span class="pan-value">Center</span>
        </div>
      </div>
    </div>

    <div class="control-group">
      <h4>Progress control</h4>
      <div class="control-content">
        <div class="slider-container">
          <input type="range" class="progress-slider" min="0" max="100" value="0" step="0.1" />
          <span class="time-display">0:00 / 0:00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="control-content">
    <div class="control-group">
      <div class="control-header">
        <h4>Spatial audio (3D)</h4>
        <button class="icon-button collapse-btn" title="Toggle panel">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14">
            <path fill-rule="evenodd"
              d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="control-content spatial-content collapsed">
        <div class="spatial-grid-container-wrapper">
        </div>
        <div class="spatial-settings">
          <div class="spatial-setting-group">
            <label>Panning Model:</label>
            <select class="panning-model-select">
              <option value="HRTF">HRTF</option>
              <option value="equalpower">Equal Power</option>
            </select>
          </div>

          <div class="spatial-setting-group">
            <label>Distance Model:</label>
            <select class="distance-model-select">
              <option value="inverse">Inverse</option>
              <option value="linear">Linear</option>
              <option value="exponential">Exponential</option>
            </select>
          </div>

          <div class="spatial-setting-group">
            <label>Reference Distance:</label>
            <input type="number" class="ref-distance-input" min="0" value="1" step="0.1">
          </div>

          <div class="spatial-setting-group">
            <label>Max Distance:</label>
            <input type="number" class="max-distance-input" min="1" value="10000" step="100">
          </div>

          <div class="spatial-setting-group">
            <label>Rolloff Factor:</label>
            <input type="number" class="rolloff-factor-input" min="0" value="0.2" step="0.1">
          </div>

          <div class="spatial-setting-group">
            <label>Cone Inner Angle:</label>
            <input type="number" class="cone-inner-angle-input" min="0" max="360" value="360" step="1">
          </div>

          <div class="spatial-setting-group">
            <label>Cone Outer Angle:</label>
            <input type="number" class="cone-outer-angle-input" min="0" max="360" value="360" step="1">
          </div>

          <div class="spatial-setting-group">
            <label>Cone Outer Gain:</label>
            <input type="number" class="cone-outer-gain-input" min="0" max="1" value="0" step="0.1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>